
body { 
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #0d0d0d;
   
      
    height: 100vh;
    text-rendering: optimizeLegibility;
    font-family: -apple-system, BlinkMacSystemFont, "Outfit", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  
}

  a {
    color: #343078;
    text-decoration: none;
  }